nav {
  font-size: 1.2em;
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &.nav-active a {
        color: $color-text;
        font-family: "TTInterphases-DemiBold", $font_family-default
      }

      a {
        padding: .5em 1em;
        color: $color-text_secondary;
        border-radius: 1em + .7em * 2;
        transition: all .2s ease-out;

        &:hover {
          color: $color-text;
          background: lighten($color-text, 90%)
        }
      }
    }
  }
}